@import 'variables';
@import 'header';
@import 'top-slider';

* {
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: $white;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}